{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Unggah Gambar</h3>
      </div>
      <div class="card-body">
        <form id="uploadForm">
          <div class="mb-3">
            <img src="https://placehold.co/600x400?text=Silakan+pilih+gambar" alt="Gambar Model 1" id="gambar1" class="img-thumbnail w-100">
          </div>
          <div class="custom-file mb-3">
            <label for="image" class="custom-file-label">Pilih Gambar</label>
            <input type="file" class="custom-file-input" id="image" name="image" onchange="gambar1Selected(this)">
          </div>
          <button type="button" id="submitsatu" class="btn btn-primary">Submit</button>
        </form>
        <div id="hasil" class="mt-3 h1 font-weight-bolder" style="display: none;"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
